<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Kyle Isom">
    <meta name="keywords" content="{{ page.keywords | join: ", " }}">
    <title>kyleisom.net -- {{ page.title }}</title>
    <link rel="stylesheet/less" href="/less/bootstrap.less" media="all" />
    <script src="/js/less-1.2.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <link href='/fonts/fonts.css' rel='stylesheet' type='text/css'>
  </head>
<body>
<div class="container">

	<!-- Header -->	
	<div class="row">
		<div class="span1 offset2">
			<a href="/"><img src="/img/avatar.png"></a>
		</div>
		<div class="span6">
			<a href="/"><h2 style="margin-top:-5px;margin-bottom:-5px;">kyle</h2></a>
			<a href="/about/" class="label success">about</a>
			<a href="/resume/" class="label success">resume</a>
			<a href="https://alpha.app.net/kyleisom" class="label">appdotnet</a>
			<a href="http://twitter.com/kyleisom" class="label info">twitter</a>
			<a href="https://plus.google.com/107650668295010639306/" class="label important">Google+</a>
			<a href="http://github.com/kisom" class="label inverse">github</a>
			<a href="http://gokyle.github.com/" class="label inverse">go code</a>
   	</div>
	</div><br />

	<!-- Content -->
	<div class="row">
		<div class="span8 offset2">
		    
			{{ content }}	
		
		</div>
	</div>
	<div class="row">	
		<div class="span8 offset2">
			<hr>
			<h5><small>Hacks and glory await! | <a href="/colophon/">colophon</a></small></h5>
		</div>
	</div>


</div>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f46fe1ecb25bc2de6000022');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
