---
layout: default
---	

<h3>{{ page.title }}</h3>
<h6><small>filed under: {{ page.categories | array_to_sentence_string }}</small></h6>
<h6><small>posted on {{ page.date | date: "%Y-%m-%d" }}</small></h6>
<br />
<p>{{ content }}</p>
<br />
<hr>
<p>Do you have thoughts or feedback on this post? Feel free to
<a href="/about/">get in touch with me</a> or ping me on
<a href="https://app.net/kyleisom">app.net</a>.</p>
<hr>
<h5>Related Posts</h5>
<ul>
{% for related in site.related_posts limit:3 %}
<li><a href="{{ related.url }}">{{ related.title }}</a></li>
{% endfor %}
</ul>
